<a href="https://colab.research.google.com/github/vin136/Machine-Learning-Interview-Questions/blob/main/pandas_workbook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Big ideas/techniques

## String Type

String vs Object vs Category

Pandas 1.0 introduced the new 'string' type. In addition to being more explicit than object, it supports missing values that are not NaN.
We can also typecast to Category (memory effficency with almost all the methods).
```
make.astype('string')
make.astype('category')
```
### Manipulation

`splitting`

```
#take lower value
# expand= True, converts a list to a df with multiple columns
age = pd.Series(['0-10', '11-15', '11-15', '61-65', '46-50'])
age.str.split('-',expand=True).iloc[:,0].astype(int)

#take highest value
age.str.slice(-2).astype(int)

#take mean
age.str.split('-',expand=True).astype('int').mean(axis='columns')

#get a random-value between
def between(row):
 l,h = *row
 return np.random.randint(l,h)
age.str.split('-',expand=True).apply(between,axis='columns')



```

`other methods`

- .find("e") (returns index of first occurence else -1)
- .startswith(),.capitalize,.lower,.upper
- extract(r'[a-e]',expand=False)
- `.str.replace to replace substrings` and `.replace to replace mappings of complete strings`

### Aside: Basic regex

`.`	Matches any single character except newline

`^`	∙ Anchors a match at the start of a string, Complements a character class

`$`	Anchors a match at the end of a string

`*`	Matches zero or more repetitions

`+`	Matches one or more repetitions

\d matches any decimal digit character. \D is the opposite. It matches any character that isn’t a decimal digit


## General techniques

1. .query(expr) : Evaluate expr to filter dataframe. Refer to variables by prefixing with @. Use backticks around column names with spaces.

2. .rename(mapper=None, index=None,
  columns=None, axis=0, copy=True,
  level=None, errors='ignore') : Change axis labels. Pass columns or index as a dictionary (mapping old values to new values) or a function (accepting the old value and returning the new value).

3. .replace()

4. .drop(),.dropna()

5. IF ELSE: 


```
replace({'Yes': True, 'No': False, np.nan: False})
```



6. String replace and extract: 

```
lambda df_:df_.python3_version_most
              .str.replace('_', '.').str.extract(r'(\d\.\d)')
```

In [30]:
age = pd.Series(['0-10', '11-15', '11-15', '61-65', '46-50'])
import numpy as np
def between(row):
  return np.random.randint(*row)
age.str.split('-',expand=True).apply(between,axis='columns')

0     3
1    13
2    11
3    63
4    47
dtype: int64

## Creating and updating columns

In [21]:
import pandas as pd
url = 'https://github.com/mattharrison/datasets/raw/master/data/'\
      '2020-jetbrains-python-survey.csv'
jb = pd.read_csv(url)
jb

<ipython-input-21-05d8dde8a401>:4: DtypeWarning: Columns (152) have mixed types. Specify dtype option on import or set low_memory=False.
  jb = pd.read_csv(url)

,is.python.main,other.lang.None,other.lang.Java,other.lang.JavaScript,other.lang.C/C++,other.lang.PHP,other.lang.C#,other.lang.Ruby,other.lang.Bash / Shell,other.lang.Objective-C,...,job.role.Technical support,job.role.Data analyst,job.role.Business analyst,job.role.Team lead,job.role.Product manager,job.role.CIO / CEO / CTO,job.role.Systems analyst,job.role.Other,age,country.live
0,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bash / Shell,NaN,...,NaN,NaN,Business analyst,NaN,NaN,NaN,NaN,NaN,30–39,NaN
1,Yes,NaN,Java,JavaScript,NaN,NaN,C#,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21–29,India
2,Yes,NaN,NaN,NaN,C/C++,NaN,NaN,NaN,Bash / Shell,NaN,...,Technical support,Data analyst,NaN,Team lead,NaN,NaN,NaN,NaN,30–39,United States
3,Yes,NaN,NaN,JavaScript,NaN,NaN,NaN,NaN,Bash / Shell,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Yes,NaN,Java,JavaScript,C/C++,NaN,NaN,NaN,Bash / Shell,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21–29,Italy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54457,Yes,NaN,NaN,NaN,C/C++,NaN,NaN,NaN,Bash / Shell,Objective-C,...,NaN,NaN,NaN,NaN,NaN,NaN,Systems analyst,NaN,21–29,Russian Federation
54458,Yes,NaN,NaN,JavaScript,NaN,NaN,NaN,NaN,Bash / Shell,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54459,Yes,NaN,NaN,JavaScript,NaN,PHP,NaN,NaN,Bash / Shell,NaN,...,NaN,NaN,NaN,NaN,NaN,CIO / CEO / CTO,NaN,NaN,21–29,Russian Federation
54460,Yes,NaN,NaN,JavaScript,C/C++,PHP,NaN,NaN,Bash / Shell,NaN,...,NaN,Data analyst,NaN,NaN,NaN,NaN,NaN,NaN,30–39,Spain
54461,Yes,NaN,NaN,JavaScript,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Team lead,NaN,NaN,NaN,NaN,21–29,Algeria

In [7]:
import collections
counter = collections.defaultdict(list)
for col in sorted(jb.columns):
    period_count = col.count('.')
    if period_count >= 2:
        part_end = 2
    else:
        part_end = 1
    parts = col.split('.')[:part_end]
    counter['.'.join(parts)].append(col)
uniq_cols = []
for cols in counter.values():
    if len(cols) == 1:
        uniq_cols.extend(cols)

In [9]:
uniq_cols

['age',
 'are.you.datascientist',
 'company.size',
 'country.live',
 'employment.status',
 'first.learn.about.main.ide',
 'how.often.use.main.ide',
 'ide.main',
 'is.python.main',
 'job.team',
 'main.purposes',
 'missing.features.main.ide',
 'nps.main.ide',
 'python.years',
 'python2.version.most',
 'python3.version.most',
 'several.projects',
 'team.size',
 'use.python.most',
 'years.of.coding']

In [20]:
(jb
 [uniq_cols]
 .rename(columns=lambda c: c.replace('.', '_'))
 .age
 .str
 .slice(0,2)
 .astype('Int64')
 
)

0          30
1          21
2          30
3        <NA>
4          21
         ...
54457      21
54458    <NA>
54459      21
54460      30
54461      21
Name: age, Length: 54462, dtype: Int64

In [48]:
jb2 = (jb
 [uniq_cols]
 .rename(columns=lambda c: c.replace('.', '_'))
 .assign(age=lambda df_:df_.age.str.slice(0,2).astype(float)
             .astype('Int64'),
         are_you_datascientist=lambda df_:df_.are_you_datascientist
             .replace({'Yes': True, 'No': False, np.nan: False}), # if-else condition
         company_size=lambda df_:df_.company_size.replace({
             'Just me': 1, 'Not sure': np.nan, 
             'More than 5,000': 5000, '2–10': 2, '11–50':11,
             '51–500': 51, '501–1,000':501,
             '1,001–5,000':1001}).astype('Int64'),
         country_live=lambda df_:df_.country_live.astype('category'),
         employment_status=lambda df_:df_.employment_status
              .fillna('Other').astype('category'),
         is_python_main=lambda df_:df_.is_python_main
              .astype('category'),
         team_size=lambda df_:df_.team_size
             .str.split(r'-', n=1, expand=True)
             .iloc[:,0].replace('More than 40 people', 41)
             .where(df_.company_size!=1, 1).astype(float),
         years_of_coding=lambda df_:df_.years_of_coding
             .replace('Less than 1 year', .5).str.extract(r'(\d+)')
             .astype(float),
         python_years=lambda df_:df_.python_years
             .replace('Less than 1 year', .5).str.extract(r'(\d+)')
             .astype(float),
         python3_ver=lambda df_:df_.python3_version_most
              .str.replace('_', '.').str.extract(r'(\d\.\d)')
              .astype(float),
         use_python_most=lambda df_:df_.use_python_most
              .fillna('Unknown')
        )
    .drop(columns=['python2_version_most'])
    
)