<a href="https://colab.research.google.com/github/vin136/Machine-Learning-Interview-Questions/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Python recipes

1. #unpacking with *

records = [
     ('foo', 1, 2),
     ('bar', 'hello'),
     ('foo', 3, 4),
]

def do_foo(x,y):
    print('foo', x, y)

def do_bar(s):
    print('bar', s)

for tag, *args in records:
    if tag == 'foo':
        do_foo(*args)
    elif tag == 'bar':
        do_bar(*args)

foo 1 2
bar hello
foo 3 4

In [39]:
#Calculating with Dictionaries
prices ={
     'ACME': 45.23,
     'AAPL': 612.78,
     'IBM': 205.55,
     'HPQ': 37.20,
     'FB': 10.75
}

zipped_file = zip(prices.values(),prices.keys())
prices_sorted = sorted(zipped_file)
prices_sorted

[(10.75, 'FB'),
 (37.2, 'HPQ'),
 (45.23, 'ACME'),
 (205.55, 'IBM'),
 (612.78, 'AAPL')]

In [24]:
#1.1 Unpacking a Sequence into Separate Variables

data = ['ACME',50, 91.1, (2012,12,21)]

name,share,price,date = data

s = 'Hello'
a,b,c,d,e = s

In [26]:
record = ('Dave','dave@exmple.com','773-555-1212','847-555-1212')
name,email,*phone_numbers = record
name
email
phone_numbers

['773-555-1212', '847-555-1212']

In [27]:
#1.2 Sorting a List of Dictionaries by a Common Key

rows = [
 {'fname': 'Brian', 'lname': 'Jones', 'uid': 1003},
 {'fname': 'David', 'lname': 'Beazley', 'uid': 1002},
 {'fname': 'John', 'lname': 'Cleese', 'uid': 1001},
 {'fname': 'Big', 'lname': 'Jones', 'uid': 1004}
]

rows_by_fname= sorted(rows,key = lambda k: k['fname'])
rows_by_lname = sorted(rows,key = lambda p: p['lname'])

In [28]:
#1.3  Grouping Records Together Based on a Field

rows = [
 {'address': '5412 N CLARK', 'date': '07/01/2012'},
 {'address': '5148 N CLARK', 'date': '07/04/2012'},
 {'address': '5800 E 58TH', 'date': '07/02/2012'},
 {'address': '2122 N CLARK', 'date': '07/03/2012'},
 {'address': '5645 N RAVENSWOOD', 'date': '07/02/2012'},
 {'address': '1060 W ADDISON', 'date': '07/02/2012'},
 {'address': '4801 N BROADWAY', 'date': '07/01/2012'},
 {'address': '1039 W GRANVILLE', 'date': '07/04/2012'},
]

from collections import defaultdict
rows_by_date = defaultdict(list)
for row in rows:
    rows_by_date[row['date']].append(row)

rows_by_date

defaultdict(list,
            {'07/01/2012': [{'address': '5412 N CLARK', 'date': '07/01/2012'},
              {'address': '4801 N BROADWAY', 'date': '07/01/2012'}],
             '07/04/2012': [{'address': '5148 N CLARK', 'date': '07/04/2012'},
              {'address': '1039 W GRANVILLE', 'date': '07/04/2012'}],
             '07/02/2012': [{'address': '5800 E 58TH', 'date': '07/02/2012'},
              {'address': '5645 N RAVENSWOOD', 'date': '07/02/2012'},
              {'address': '1060 W ADDISON', 'date': '07/02/2012'}],
             '07/03/2012': [{'address': '2122 N CLARK',
               'date': '07/03/2012'}]})

In [29]:
#1.4 Finding the Largest or Smallest N Items

import heapq

nums = [1,8,2,23,7,-4,18,23,42,37,2]
heapq.nlargest(len(nums),nums)
heapq.nsmallest(len(nums),nums)

[-4, 1, 2, 2, 7, 8, 18, 23, 23, 37, 42]

In [31]:
portfolio = [
     {'name': 'IBM', 'shares': 100, 'price': 91.1},
     {'name': 'AAPL', 'shares': 50, 'price': 543.22},
     {'name': 'FB', 'shares': 200, 'price': 21.09},
     {'name': 'HPQ', 'shares': 35, 'price': 31.75},
     {'name': 'YHOO', 'shares': 45, 'price': 16.35},
     {'name': 'ACME', 'shares': 75, 'price': 115.65}
]

cheap = heapq.nsmallest(len(portfolio), portfolio, key=lambda k: k['price'])
expensive = heapq.nlargest(len(portfolio), portfolio, key=lambda k: k['price'])
cheap

[{'name': 'YHOO', 'shares': 45, 'price': 16.35},
 {'name': 'FB', 'shares': 200, 'price': 21.09},
 {'name': 'HPQ', 'shares': 35, 'price': 31.75},
 {'name': 'IBM', 'shares': 100, 'price': 91.1},
 {'name': 'ACME', 'shares': 75, 'price': 115.65},
 {'name': 'AAPL', 'shares': 50, 'price': 543.22}]

In [32]:
# Implementing a Priority Queue
import heapq

class PriorityQueue:
    def __init__(self):
        self._queue = []
        self._index = 0
    def push(self, item, priority):
        heapq.heappush(self._queue, (-priority, self._index, item))
        self._index += 1
    def pop(self):
        return heapq.heappop(self._queue)[-1]

class Item:
    def __init__(self, name):
        self.name = name

    def __repr__(self):
        return 'Item({!r})'.format(self.name)

q = PriorityQueue()
q.push(Item('foo'), 1)
q.push(Item('bar'), 5)
q.push(Item('spam'), 4)
q.push(Item('grok'), 1)
q.pop()
Item('bar')
q.pop()
Item('spam')
q.pop()
Item('foo')
q.pop()
Item('grok')

Item('grok')

In [10]:
#2. remove duplicates while maintaiting order

def dedupe(items, key=None):
 seen = set()
 for item in items:
 val = item if key is None else key(item)
 if val not in seen:
 yield item
 seen.add(val)

In [11]:
#3 . set operations

x1 = {'foo', 'bar', 'baz'}
x2 = {'baz', 'qux', 'quux'}

#union |
x1 | x2

#intersection

x1 & x2

#symmetric diff,in a or b but not both

x1 ^ x2

#diff
x1-x2

{'bar', 'foo'}

In [12]:
items = [0, 1, 2, 3, 4, 5, 6]
a = slice(2, 4)
items[a]

[2, 3]

**Dictionaries**

In [16]:
# dictionaries
#3.9

d1 = {'a': 1, 'b': 3}
d2 = {'a': 2, 'b': 4, 'c': 6}

#takes the union

d1 | d2

# ordered dict=> preserve insertion order

{'a': 2, 'b': 4, 'c': 6}

In [17]:
#deal multiple dicts as one

d1 = dict(a=1, b=3)
d2 = dict(a=2, b=4, c=6)
from collections import ChainMap

chain = ChainMap(d1, d2)
#gives from first one
chain['a'],chain['c']

(1, 6)

In [18]:
chain = ChainMap(d2, d1)
#gives from first one
chain['a'],chain['c']

(2, 6)

In [19]:
# counter

from collections import Counter

c = Counter(a=3, b=1)
d = Counter(a=1, b=2)
c + d                       # add two counters together:  c[x] + d[x]
#Counter({'a': 4, 'b': 3})
c - d                       # subtract (keeping only positive counts)
#Counter({'a': 2})
c & d                       # intersection:  min(c[x], d[x])
#Counter({'a': 1, 'b': 1})
c | d                       # union:  max(c[x], d[x])
#Counter({'a': 3, 'b': 2})
c == d                      # equality:  c[x] == d[x]
#False
c <= d                      # inclusion:  c[x] <= d[x]
#False

False

## Structural patter matching (in python 3.10)

In [40]:
"""
Pattern matching with mapping—requires Python ≥ 3.10

# tag::DICT_MATCH_TEST[]
>>> b1 = dict(api=1, author='Douglas Hofstadter',
...         type='book', title='Gödel, Escher, Bach')
>>> get_creators(b1)
['Douglas Hofstadter']
>>> from collections import OrderedDict
>>> b2 = OrderedDict(api=2, type='book',
...         title='Python in a Nutshell',
...         authors='Martelli Ravenscroft Holden'.split())
>>> get_creators(b2)
['Martelli', 'Ravenscroft', 'Holden']
>>> get_creators({'type': 'book', 'pages': 770})
Traceback (most recent call last):
    ...
ValueError: Invalid 'book' record: {'type': 'book', 'pages': 770}
>>> get_creators('Spam, spam, spam')
Traceback (most recent call last):
    ...
ValueError: Invalid record: 'Spam, spam, spam'

# end::DICT_MATCH_TEST[]
"""

# tag::DICT_MATCH[]
def get_creators(record: dict) -> list:
    match record:
        case {'type': 'book', 'api': 2, 'authors': [*names]}:  # <1>
            return names
        case {'type': 'book', 'api': 1, 'author': name}:  # <2>
            return [name]
        case {'type': 'book'}:  # <3>
            raise ValueError(f"Invalid 'book' record: {record!r}")
        case {'type': 'movie', 'director': name}:  # <4>
            return [name]
        case _:  # <5>
            raise ValueError(f'Invalid record: {record!r}')

In [41]:
b1 = dict(api=1, author='Douglas Hofstadter',
         type='book', title='Gödel, Escher, Bach')
get_creators(b1)

# sequence patterns, mapping patterns succeed on partial matches. In the doctests,
#the b1 and b2 subjects include a 'title' key that does not appear in any 'book' pattern, yet they match.

['Douglas Hofstadter']

In [ ]:
command = input("What are you doing next? ")
#Matching specific values
match command.split():
    case ["quit"]:
        print("Goodbye!")
        quit_game()
    case ["look"]:
        current_room.describe()
    case ["get", obj]:
        character.get(obj, current_room)
    case ["go", direction]:
        current_room = current_room.neighbor(direction)

#can add wild-card
match command.split():
    case ["quit"]: pass # Code omitted for brevity
    case ["go", direction]: pass
    case ["drop", *objects]: pass # Other cases
    case _:
      print(f"Sorry, I couldn't understand {command!r}")

In [ ]:
#or pattern

match command.split():
    ... # Other cases
    case ["north"] | ["go", "north"]:
        current_room = current_room.neighbor("north")
    case ["get", obj] | ["pick", "up", obj] | ["pick", obj, "up"]:
        ... # Code for picking up the given object


match command.split():
    case ["go", ("north" | "south" | "east" | "west") as direction]:
        current_room = current_room.neighbor(direction)

match command.split():
    case ["go", direction] if direction in current_room.exits:
        current_room = current_room.neighbor(direction)
    case ["go", _]:
        print("Sorry, you can't go that way")



#matching objects

match event.get():
    case Click(position=(x, y)):
        handle_click_at(x, y)
    case KeyPress(key_name="Q") | Quit():
        game.quit()
    case KeyPress(key_name="up arrow"):
        game.go_north()
    ...
    case KeyPress():
        pass # Ignore other keystrokes
    case other_event:
        raise ValueError(f"Unrecognized event: {other_event}")

#A pattern like KeyPress(), with no arguments will match any object which is an instance of the KeyPress class.
#Only the attributes you specify in the pattern are matched, and any other attributes are ignored.

In [44]:
def pat_match(a):
  op = set(['tom','dick'])
  match a:
    case ['john',direction] if direction in op:
      print(f"yeah {direction}")
    case _:
      print(f"all others")

In [46]:
pat_match(['john','pick'])

all others